@model Homeix.Models.User

@{
    ViewData["Title"] = "User Details";
}

<div class="container-fluid mt-4">

    <div class="row mb-4">
        <div class="col-12 text-center">
            <h1 class="fw-bold">User Details</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <div class="card shadow-sm">

                <div class="card-header">
                    <h5 class="mb-0">Details</h5>
                </div>

                <div class="card-body">
                    <dl class="row mb-0">

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FullName)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.PasswordHash)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.PasswordHash)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.ProfilePicture)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ProfilePicture)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.Role)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Role.RoleId)
                        </dd>

                    </dl>
                </div>

            </div>

        </div>
    </div>
</div>
