@model Homeix.Models.JobProgress

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobProgress</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRatedByCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRatedByCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRatedByWorker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRatedByWorker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedToUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToUser.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerPost.CustomerPostId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedByUser.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JobProgressId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
