@model Homeix.Models.WorkerApproval

@{
    ViewData["Title"] = "Worker Approval Details";
}

<div class="container-fluid mt-4">

    <div class="row mb-4">
        <div class="col-12 text-center">
            <h1 class="fw-bold">Worker Approval Details</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">

            <div class="card shadow-sm">

                <div class="card-header">
                    <h5 class="mb-0">Details</h5>
                </div>

                <div class="card-body">
                    <dl class="row mb-0">

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.Notes)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Notes)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.RequestedAt)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.RequestedAt)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.ReviewedAt)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ReviewedAt)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.ReviewedByUser)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ReviewedByUser.UserId)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.User)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.User.UserId)
                        </dd>

                    </dl>
                </div>

            </div>

        </div>
    </div>
</div>
