@model IEnumerable<Homeix.Models.WorkerApproval>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewedByUser.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApprovalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApprovalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApprovalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
