@model Homeix.Models.FavoritePost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FavoritePost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FavoritePostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
